<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYjiTl6xcKc2EZXaeU6TitKv1sP_2VmKE</string>
	<key>GCM_SENDER_ID</key>
	<string>122933964231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ciCdProject</string>
	<key>PROJECT_ID</key>
	<string>ci-cd-new-57a27</string>
	<key>STORAGE_BUCKET</key>
	<string>ci-cd-new-57a27.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122933964231:ios:7bc609292eb36d8b84bde2</string>
</dict>
</plist>